.container.col-md-6
  .row
    .col-md-2.headers
    .col-md-2
      = resume.person_data.full_name
  .row
    .col-md-2.headers
    .col-md-2
      = resume.person_data.date_of_birth
  .row
    .col-md-2.headers
    .col-md-2
      %a{href: resume.person_data.email} 
        = resume.person_data.email

#photo.container.col-md-4
  / %img{alt: "", src: "img/photo.jpg"}/


