.container.span6
  .row
    .span2.headers
    .span2
      Grzegorz Kaczorek
  .row
    .span2.headers
    .span2
      29.04.1986
  .row
    .span2.headers
    .span2
      %a{href: "mailto:grzegorz.kaczorek@gmail.com"} grzegorz.kaczorek@gmail.com

#photo.container.span4
  %img{alt: "", src: "img/photo.jpg"}/


