= title(1,i18n.libraries_by_language_or_technology,'technology')

#libs-cont.row
  %table#libs.table.table-striped
    %thead
      %tr
        %th= i18n.library_group
        %th= i18n.libraries
    - resume.libs.each do |l|
      = presenter(l)
    