= title(2,"Mission statement/Profile","profile")

= title(3,"Who I am")

.row
  .col-md-6
    %ul
      %li
        %strong An experienced Web developer
        %p I can work on both back-end with PHP or Ruby or front-end with JavaScript (prefferably CoffeScript).
      %li
        %strong A team leader
        %p both in a software engineering setting and beyond it, with good communication skills and excelent grasp of software engineering and the IT market.

= title(3,"Who I am not")

.row
  .col-md-6
    %ul
      %li A person that likes to convert Photoshop projects into HTML. While I have done this in my junior years (and still can), it was always a chore and not something that makes the most use of my skills.
      %li A production server administrator - Linux is my primary operating system and I can find my way around setting up any development enviroment, but setting up production servers for performance and stability is beyond by skills and interests.

