@import "bootstrap/variables"
@import "bootstrap/bootswatch/united/variables"

$background-soft-brand: lighten(complement($brand-primary),50%)

@mixin left-align-and-bold()
  text-align: left
  font-weight: bold
  font-style: normal

body
  min-height: 2000px
  padding-top: 70px


.lang-general
  span
    display: inline-block
  div
    width: 320px
    overflow: hidden
    font-size: 20px
    height: 40px
    .starcont i
      line-height: 27px
    .lab
      font-style: italic
      font-size: 14px

td.check
  color: #555555

#libs
  .lib-name
    text-align: right
  .lib-lang
    text-align: center
    background-color: #E1E1E1

#languages .lan
  width: 180px

.education
  .type
    font-weight: bold

.portitem .thumbnail
  height: 410px

.headers
  font-size: 85%
  line-height: 1.5em
  text-align: right
  @media (max-width: $screen-sm-max) // make the "table" header left aligned in lower widths
    @include left-align-and-bold()
    &:after
      content: ":" 

.experience-item
  padding-top: 10px

.photo .thumbnail
  text-align: center

@import "bootstrap"
@import "fontawesome"